.App {
  text-align: center;
}

/*global css*/

.rightselect .PrivateNotchedOutline-root-1 {
 
  border-width: 1px;
  border-left: none !important;
  border-bottom-left-radius: 0px;
  border-top-left-radius: 0px;
  pointer-events: none;
}
.left .MuiOutlinedInput-root {
  
  border-bottom-right-radius: 0px;
  border-top-right-radius: 0px;
}


.fullw{
width: 100%;
}
.w-9{
  width: 90%;
}
.css-tlfecz-indicatorContainer {
  color: #1976D2;
}
@media screen and (min-width: 992px) {
.rightselect{
  width: 90%;
  height: 100%;
}
.mt-30{
  margin-top: 20px !important;
  
}
.multiSelect .css-yk16xz-control {
 
  min-height: 56px;
  border-left: 0;
  border-color: #1976D2;
  color:#54038F;
  border-top-left-radius: inherit;
  border-bottom-left-radius: inherit;
}
.p-12{
  padding: 12px;
 padding-left: 25px !important;

}
.css-1pahdxg-control {
  min-height: 56px;
  border-left: 0;

}
.multiSelect{
  height: 100%;
  width: 100%;
}
}

@media screen and (max-width: 992px) {
  .css-yk16xz-control {
    width: 100% !important;
    min-height: 56px !important;
   border-color: #1976D2 !important;
    border-top: 0 !important;
  }
  .mt-30{
    margin-top: 50px !important;
  }
  .css-1pahdxg-control {
    width: 100% !important;
    min-height: 56px !important;
  
  border-top: 0 !important;
  }
  .rightselect{
    width: 100% !important;
    height: 100% !important;
  }
}

 h6{padding: 0 !important;
margin: 0 !important;}
.m-30{
  margin: 10px;
  margin-top: 50px;
}
.css-26l3qy-menu {
 z-index: 2;
}

.m-20{
  margin: 20px;
  margin-bottom: 50px;
}
.mb20{
  margin: 20px !important;
  margin-top: 30px !important;
  margin-bottom: 50px !important;
}
.universty {
  
  align-items: center;
  border: 2px solid #4285F4;
  margin: 20px;
  width: 90% !important;
  height: 56px;
}
.center{
  justify-content: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.add-tag{
  color:#4285F4;
  font-size: 19px;
margin: 20px;
text-decoration: underline;
}
.add-tag:hover{
  cursor: pointer;
  
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
